.location-main[b-l3o9vnm1tb]{
    height: 75vh;
    width: 100vw;
    filter: brightness(0.65);
}
.location-img[b-l3o9vnm1tb]{
    height: 65vh;
}
.div-loc[b-l3o9vnm1tb]{
    height:75vh;
}
.rel-div[b-l3o9vnm1tb]{
    text-align: center;
    color: whitesmoke;
}
.heading[b-l3o9vnm1tb]{
    font-size: 10vh;
    font-family: "Rockwell Condensed", cursive;
    margin-bottom: 4vh;
}
.heading[b-l3o9vnm1tb]{
    margin-bottom: 3vh;
    width: 372px;
    height: 150px;
}