<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <div class="me-4 d-inline-block position-relative">
                    <a class="order-link" href="/order"><i class="oi oi-clipboard"> My Orders</i></a>
             </div>
            <div class="me-4 d-inline-block position-relative">
                <a class="cart-link" href="/cart"><i class="oi oi-cart"></i></a>
            </div>


            <a href="Identity/Account/Manage" class="login">
                <span class="oi oi-person"></span>
            </a>
            <div style="width: 10px;"></div>
            <form method="post" action="Identity/Account/Logout" class="ml-3">
                <button type="submit" class="btn login"><i class="oi oi-account-logout"></i></button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-between">
            <a href="Identity/Account/Login" class="bordered-btn">Log in <i class="oi oi-account-login"></i></a>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code{

 }