<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <div class="me-4 d-inline-block position-relative">
                <a class="cart-link" href="/cart"><i class="oi oi-cart"></i></a>
                @if(BasketCount > 0){
                    <span class="cart-count">@BasketCount</span>
                }
            </div>
            
            <a href="Identity/Account/Manage" class="btn btn-outline-primary">
                Hello, @context.User.Identity?.Name! 
            </a>
            <div style="width: 10px;"></div> 
            <form method="post" action="Identity/Account/Logout" class="ml-3">
                <button type="submit" class="btn btn-danger">Log out <i class="oi oi-account-logout"></i></button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-between">
            <a href="Identity/Account/Register" class="btn btn-primary">Register</a>
            <div style="width: 10px;"></div> 
            <a href="Identity/Account/Login" class="btn btn-secondary">Log in <i class="oi oi-account-login"></i></a>
        </div>
    </NotAuthorized>
</AuthorizeView>
 @code{
     [Parameter]
     public int BasketCount { get; set; }
 }