@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<PageTitle>CasperDelivery</PageTitle>

<div class="page">
    <div>
        <TopMenu/>
    </div>
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    ShowProgressBar="true" />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <div>
        <PageFooter/>
    </div>
</div>