@inherits LayoutComponentBase

<PageTitle>CasperDelivery</PageTitle>

<div class="page">
    <div>
        <TopMenu/>
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
    
    <div>
        <PageFooter/>
    </div>
</div>