<footer class="bg-white mt-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center"> 
                <h5 class="fw-bold">General</h5>
                <ul class="list-unstyled">
                    <li><a class="no-decorations" href="#">Terms and Conditions</a></li>
                    <li><a class="no-decorations" href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h5 class="fw-bold">Contacts</h5>
                <ul class="list-unstyled">
                    <li><a class="no-decorations" href="mailto:info@Casper.us">info@Casper.us</a></li>
                    <li><a class="no-decorations" href="tel:777 77777 77">+777 7777 779</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>




@code {
    
}