<footer class="bg-white border-top">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <p class="mt-3">@@2024 - Casper Delivery</p>
        </div>
    </div>
</footer>


@code {
    
}