a{
color: #666770
}
nav{
    -webkit-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);}

.navbar-toggler-icon   {
    color: gold;
    background-color: #084298;
}
