a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
a:visited{
    color:#fff;
}
a:hover {
    color: orange;
}
nav{
    -webkit-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);}

.logo-style{
width: 30px;
height: 30px;}

.dark{
color: black;}


.navbar {
    background-color: #435454 !important
}

.list-items{
    color: #435454 !important;
}

.list-item-image {
    border-radius: 5px;
}