@using CasperDelivery.Data.Models
@using CasperDelivery.Interfaces
@inject IGenericRepository<Restaurants> RestRepo
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid me-5 ms-5">
    <a class="navbar-brand" href="#"><img src="images/Logo/logo-no-background.png" height="50" width="124"></a>
    <button class="navbar-toggler btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5208/restaurants">All restaurants</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose restaurant
          </a>
          <ul class="dropdown-menu">
            @if (Restaurant != null)
            {
              @foreach (var item in Restaurant)
              {
                <li>
                  <img src="images/Restaurants/@item.PictureUrl" class="logo-style mx-1 rounded-pill"/>
                  <a href="http://localhost:5208/restaurants/@item.Id">@item.Name</a>
                </li>
              }
            }
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button class="btn btn-outline-primary ms-5"><a><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></button>
      <button class="btn btn-outline-primary mx-3"><a><i class="fa fa-arrow-up" aria-hidden="true"></i> Register</a></button>
    </div>
  </div>
</nav>

@code {
  List<Restaurants> Restaurant;
  protected override async Task OnInitializedAsync()
  {
    Restaurant = await RestRepo.GetAllAsync();
  }
}