<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Customer's Testimonial
            </h2>
        </div>
        <div id="carouselExample3Controls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="box col-lg-10 mx-auto">
                        <div class="img_container">
                            <div class="img-box">
                                <div class="img_box-inner">
                                    <img src="images/Customers/morgan.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Arthur Morgan
                            </h5>
                            <h6>
                                Customer
                            </h6>
                            <p>
                                I absolutely love ordering from this food delivery service! The variety of restaurants available is fantastic, and the delivery is always prompt. The website is easy to navigate, and the food arrives hot and delicious. Highly recommended!                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box col-lg-10 mx-auto">
                        <div class="img_container">
                            <div class="img-box">
                                <div class="img_box-inner">
                                    <img src="images/Customers/marston.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="detail-box">
                            <h5>
                                John Marston
                            </h5>
                            <h6>
                                Customer
                            </h6>
                            <p>
                                I've been using this food delivery service for a while now, and I'm always impressed with the quality of the food and the speed of delivery. The website is user-friendly, and I love being able to track my order in real-time. Great service overall!                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box col-lg-10 mx-auto">
                        <div class="img_container">
                            <div class="img-box">
                                <div class="img_box-inner">
                                    <img src="images/Customers/dutch.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Dutch Van Der Linde
                            </h5>
                            <h6>
                                Customer
                            </h6>
                            <p>
                                I recently tried this food delivery service for the first time, and I was blown away by the experience. The website was easy to use, and the delivery was right on time. The food was absolutely delicious, and I will definitely be ordering from them again!                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn_box">
                <a class="carousel-control-prev" href="#carouselExample3Controls" role="button" data-bs-slide="prev">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample3Controls" role="button" data-bs-slide="next">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>