@page "/"
@using CasperDelivery.Components
@using CasperDelivery.WebModels;



<PageTitle>Casper Delivery - Home</PageTitle>



<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Bold & Delicious</p>
                        <h1>Savor the moment, delivered to you</h1>
                        <div class="hero-btns">
                            <a href="/restaurants" class="boxed-btn">All Restaurants</a>
                            <a href="/about" class="bordered-btn">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<WhyComponent/>
<ReviewComponent/>

<div class="container mt-5 contact-us">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <h2>Contact Us</h2>
        </div>
        <div class="col-md-8">
            <form class="d-flex justify-content-between flex-column">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" @bind="Contact.Name" />
                    <span class="text-danger">@validationMessages.Name</span>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" @bind="Contact.Email" />
                    <span class="text-danger">@validationMessages.Email</span>
                </div>

                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" class="form-control" @bind="Contact.Message"></textarea>
                    <span class="text-danger">@validationMessages.Message</span>
                </div>

                <button type="button" class="submit-btn align-self-center" @onclick="SubmitForm">Submit</button>
                <span class="text-success text-center">@submitMessage</span>
            </form>
        </div>
    </div>
</div>

