@page "/restaurants"
@using CasperDelivery.Interfaces
@using CasperDelivery.Interfaces.Specifications;
@inject IGenericRepository<Restaurants> RestRepo

<div class="background">


@if(Restaurant != null)
{
    @foreach(var item in Restaurant)
    {
        var imageUrl = "images/RestaurantsBackground/" + @item.BackgroundUrl;
        <RestaurantComponent RestId=item.Id ImageUrl=@imageUrl RestaurantName="@item.Name" Product="@item.Products"></RestaurantComponent>
    }

}
else
{
    <p>Loading</p>
}

</div>


@code {
    IReadOnlyList<Restaurants> Restaurant;

    protected override async Task OnInitializedAsync()
    {
        GetRestaurantWithProductSpecification spec = new GetRestaurantWithProductSpecification();
        Restaurant = await RestRepo.ListAsync(spec);
    }
    
}