@page "/restaurants/{RestaurantId}"
@using CasperDelivery.Interfaces
@using CasperDelivery.Interfaces.Specifications
@inject IGenericRepository<Restaurants> RestRepo

@if(Restaurant != null){
    <div class="container card-container text-center">
        <div class="restaurant-container">
            <img src="/images/RestaurantsBackground/@Restaurant.BackgroundUrl" class="img-fluid restaurant-img" />
        </div>
        <h1>@Restaurant.Name</h1>
        <div class="container columns-el" style="width: 80vw;">
            <div class="row">
                @foreach (var item in Restaurant.Products)
                {
                    <div class="col-md-3 mb-3">
                        <div class="card card-sizing">
                            <img src="images/products/@item.PictureUrl" class="card-img-top card-image img-fluid" alt="...">
                            <div class="card-body text-center">
                                <a href="/restaurants/@Restaurant.Id"> <h4 class="card-text card-text-settings">@item.Name</h4></a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="container text-center">
            <a class="custom-btn" href="/restaurants/@Restaurant.Id">See More</a>
        </div>
    </div>
                                                                                                  
}



@code {
    [Parameter]
    public string RestaurantId { get; set; }


    Restaurants Restaurant;
    protected override async Task OnParametersSetAsync()
    {
        int Id = int.Parse(RestaurantId);
        GetRestaurantWithProductSpecification spec = new GetRestaurantWithProductSpecification(Id);
        Restaurant = await RestRepo.GetEntityWithSpecAsync(spec);
    }
    

}