@page "/payment/success"

<div class="container-fluid text-center">
    <div class="card mt-5">
        <h2 class="text-success"><span class="oi oi-circle-check"></span> Thanks for your order!</h2>
        <h4>We'll deliver it as soon as possible</h4>
        <a href="/"><button class="btn btn-dark mt-5"> Go to Home Page</button></a>
    </div>
</div>
