/* _content/CasperDelivery/Components/RestaurantComponent.razor.rz.scp.css */
.restaurant-container[b-37u09hr0pb] {
    height: 20vw;
    width:100%;
}

.restaurant-img[b-37u09hr0pb] {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    width: 100%
}

.card-container[b-37u09hr0pb] {
    height: auto;
    background-color: #435454;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 0;
}
h1[b-37u09hr0pb] {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #fff;
    font-size:4rem;
    margin-top:20px;
    margin-bottom: 20px;
}

                                                        /*Cards*/
.card-sizing[b-37u09hr0pb] {
    width: 200px;
    border: none;
    background-color: #435454;
}

.card-image[b-37u09hr0pb] {
    border-radius: 60px;
    object-fit: cover;
    height: 200px;
}

a[b-37u09hr0pb] {
    text-decoration: none;
}

.card-text-settings[b-37u09hr0pb] {
    background-color: #fff;
    color: #435454;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 50px 30px;
}

.custom-btn[b-37u09hr0pb] {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #435454;
}

    .custom-btn:hover[b-37u09hr0pb] {
        color: #435454;
        box-shadow: inset 0 -100px 0 0 #fff;
    }

    .custom-btn:active[b-37u09hr0pb] {
        transform: scale(0.9);
    }

.columns-el[b-37u09hr0pb] {
    padding-left: 100px;
}
/* _content/CasperDelivery/Pages/Cart.razor.rz.scp.css */
body[b-prmiz07ffw] {
    background: #ddd;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.title[b-prmiz07ffw] {
    margin-bottom: 5vh;
}

.card[b-prmiz07ffw] {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media(max-width:767px) {
    .card[b-prmiz07ffw] {
        margin: 3vh auto;
    }
}

.cart[b-prmiz07ffw] {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px) {
    .cart[b-prmiz07ffw] {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary[b-prmiz07ffw] {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px) {
    .summary[b-prmiz07ffw] {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2[b-prmiz07ffw] {
    padding: 0;
}

.summary .col-10[b-prmiz07ffw] {
    padding: 0;
}

.row[b-prmiz07ffw] {
    margin: 0;
}

.title b[b-prmiz07ffw] {
    font-size: 1.5rem;
}

.main[b-prmiz07ffw] {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.col-2[b-prmiz07ffw], .col[b-prmiz07ffw] {
    padding: 0 1vh;
}

a[b-prmiz07ffw] {
    padding: 0 1vh;
}

.close[b-prmiz07ffw] {
    margin-left: auto;
    font-size: 0.7rem;
}

img[b-prmiz07ffw] {
    width: 3.5rem;
}

.back-to-shop[b-prmiz07ffw] {
    margin-top: 4.5rem;
}

h5[b-prmiz07ffw] {
    margin-top: 4vh;
}

hr[b-prmiz07ffw] {
    margin-top: 1.25rem;
}

form[b-prmiz07ffw] {
    padding: 2vh 0;
}

select[b-prmiz07ffw] {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input[b-prmiz07ffw] {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

    input:focus[b-prmiz07ffw]::-webkit-input-placeholder {
        color: transparent;
    }

.btn[b-prmiz07ffw] {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}

    .btn:focus[b-prmiz07ffw] {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none;
    }

    .btn:hover[b-prmiz07ffw] {
        color: white;
    }

a[b-prmiz07ffw] {
    color: black;
    text-decoration: none;
}

    a:hover[b-prmiz07ffw] {
        color: black;
        text-decoration: none;
    }

#code[b-prmiz07ffw] {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
/* _content/CasperDelivery/Pages/Index.razor.rz.scp.css */
.card-sizing[b-7g4map14mv]{
    width: 200px;
    border:none;
}
.card-image[b-7g4map14mv] {
    border-radius: 135px 106px 134px 181px;
    -webkit-border-radius: 135px 106px 134px 181px;
    -moz-border-radius: 135px 106px 134px 181px;
    height: 200px;
}
a[b-7g4map14mv] {
    text-decoration: none;
}

.card-text-settings[b-7g4map14mv] {
    background-color: #687676;
    color: #fff;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 50px 30px;
}

.custom-btn[b-7g4map14mv] {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #435454;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #435454;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #435454;
}

    .custom-btn:hover[b-7g4map14mv] {
        color: white;
        box-shadow: inset 0 -100px 0 0 #435454;
    }

    .custom-btn:active[b-7g4map14mv] {
        transform: scale(0.9);
    }

.columns-el[b-7g4map14mv]{
    padding-left:100px;
}

.contact-us[b-7g4map14mv]{
    padding: 30px;
    border-radius: 30px;
    background-color: #435454;
    color: #fff;
}

.submit-btn[b-7g4map14mv] {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #435454;
}

.submit-btn:hover[b-7g4map14mv] {
    color: #435454;
    box-shadow: inset 0 -100px 0 0 #fff;
}

.submit-btn:active[b-7g4map14mv] {
    transform: scale(0.9);
}
/* _content/CasperDelivery/Pages/RestaurantDetails.razor.rz.scp.css */
.restaurant-container[b-cyjpsl0n28] {
    height: 20vw;
    width: 100%;
}

.restaurant-img[b-cyjpsl0n28] {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    width: 100%
}

.card-container[b-cyjpsl0n28] {
    height: auto;
    background-color: #435454;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 0;
}

h1[b-cyjpsl0n28] {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #fff;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Cards*/
.card-sizing[b-cyjpsl0n28] {
    width: 200px;
    border: none;
    background-color: #435454;
}

.card-image[b-cyjpsl0n28] {
    border-radius: 60px;
    object-fit: cover;
    height: 200px;
}

a[b-cyjpsl0n28] {
    text-decoration: none;
}

.card-text-settings[b-cyjpsl0n28] {
    background-color: #fff;
    color: #435454;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 50px 30px;
}

.custom-btn[b-cyjpsl0n28] {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #435454;
}

    .custom-btn:hover[b-cyjpsl0n28] {
        color: #435454;
        box-shadow: inset 0 -100px 0 0 #fff;
    }

    .custom-btn:active[b-cyjpsl0n28] {
        transform: scale(0.9);
    }

.columns-el[b-cyjpsl0n28] {
    padding-left: 100px;
}
/* _content/CasperDelivery/Pages/RestaurantPage.razor.rz.scp.css */
h1[b-n8gg9pmag4]{
font-family: "Copperplate Gothic Light";
display: flex;
justify-content: center;
}

.image-container[b-n8gg9pmag4] {
    width: 300px; /* Set your desired container width */
    text-align: center; /* Center align the content horizontally */
}

.image-container img[b-n8gg9pmag4] {
    max-width: 100%; /* Make the image fit the container's width */
    height: auto; /* Maintain the image's aspect ratio */
}

.text-container[b-n8gg9pmag4] {
    background-color: #333; /* Background color for the text container */
    color: white; /* Text color */
    padding: 10px; /* Padding around the text */
    text-align: center; /* Center align the text */
}

.custom-bg[b-n8gg9pmag4]{
background-color: #f6f6ed;}

.color-container[b-n8gg9pmag4] {
    text-align: center;
    border-radius: 10px;
    min-height: 150px;
    position: relative;
}

.color-container .container-text[b-n8gg9pmag4] {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.8s;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-style: italic;
}

.color-container:hover .container-text[b-n8gg9pmag4] {
    opacity: 1;
}

.color-container .container-text.fade-in[b-n8gg9pmag4] {
    animation: fadeIn-b-n8gg9pmag4 2s;
}

@keyframes fadeIn-b-n8gg9pmag4 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.background[b-n8gg9pmag4] {
    width: 100%;
    heigh: 100%;
    background-image: url("/images/PageBackground/tile_background2.png");
}
/* _content/CasperDelivery/Shared/LoginDisplay.razor.rz.scp.css */
.cart-link[b-uy7xf0yhq1] {
    color: white;
    font-size: 25px;
    margin-right: 4px;
}
.cart-count[b-uy7xf0yhq1] {
    position: absolute;
    top: -5px;
    right: -5px; 
    background-color: darkred;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
/* _content/CasperDelivery/Shared/MainLayout.razor.rz.scp.css */
.content[b-hnegp1hqmk]{
background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    min-height: 78vh;
    margin: 0;
    margin-top: 95px;
}
/* _content/CasperDelivery/Shared/PageFooter.razor.rz.scp.css */
.footer_el[b-x86thgrsab]{
    width: 100vw;
}
/* _content/CasperDelivery/Shared/TopMenu.razor.rz.scp.css */
a[b-xo1z7isbm6] {
    color: #fff;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-decoration: none;
}
a:hover[b-xo1z7isbm6] {
    color: orange;
}

nav[b-xo1z7isbm6]{
    -webkit-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);}

.logo-style[b-xo1z7isbm6]{
width: 30px;
height: 30px;}

.dark[b-xo1z7isbm6]{
color: black;}


.navbar[b-xo1z7isbm6] {
    background-color: #435454 !important
}

.list-items[b-xo1z7isbm6]{
    color: #435454 !important;
}

.list-item-image[b-xo1z7isbm6] {
    border-radius: 25px 10px 20px 12px;
}
