h1[b-7g4map14mv], .h1[b-7g4map14mv] {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {
    h1[b-7g4map14mv], .h1[b-7g4map14mv] {
        font-size: 3rem;
        line-height: 3.25rem;
    }
}

@media only screen and (max-width: 575.96px) {
    h1[b-7g4map14mv], .h1[b-7g4map14mv] {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

h2[b-7g4map14mv], .h2[b-7g4map14mv] {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {
    h2[b-7g4map14mv], .h2[b-7g4map14mv] {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

@media only screen and (max-width: 575.96px) {
    h2[b-7g4map14mv], .h2[b-7g4map14mv] {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}
.hero-text[b-7g4map14mv] {
    display: table;
    height: 100%;
}



.hero-text-tablecell[b-7g4map14mv] {
    display: table-cell;
}


.hero-area[b-7g4map14mv] {
    height: 75vh;
    position: relative;
    z-index: 1;
}
    .hero-area[b-7g4map14mv]:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
        opacity: 0.6;
    }

.hero-text p.subtitle[b-7g4map14mv] {
    color: orange;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
}

.hero-text h1[b-7g4map14mv] {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.hero-area div[b-7g4map14mv] {
    height: 100%;
}

    .hero-area div.hero-text[b-7g4map14mv] {
        height: 100%;
        width: 100%;
    }

    .hero-area div.hero-text-tablecell[b-7g4map14mv] {
        height: auto;
        vertical-align: middle;
    }

        .hero-area div.hero-text-tablecell div[b-7g4map14mv] {
            height: auto;
            vertical-align: middle;
        }

.hero-bg[b-7g4map14mv] {
    background-color: #435454 !important;
}

.hero-btns[b-7g4map14mv] {
    margin-top: 35px;
}

    .hero-btns a.bordered-btn[b-7g4map14mv] {
        margin-left: 15px;
    }

.hero-area div.hero-form[b-7g4map14mv] {
    text-align: center;
    width: 380px;
    margin: 0 auto;
    margin-right: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px #2d2d2d;
    box-shadow: 0 0 15px #2d2d2d;
    position: absolute;
    right: 30px;
    bottom: -15%;
    height: 600px;
}

a.boxed-btn[b-7g4map14mv] {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
}

a.bordered-btn[b-7g4map14mv] {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid #F28123;
    padding: 7px 20px;
}
a.boxed-btn[b-7g4map14mv], a.bordered-btn[b-7g4map14mv] {
    border-radius: 50px;
}

a.boxed-btn[b-7g4map14mv] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    a.boxed-btn:hover[b-7g4map14mv] {
        background-color: #051922;
        color: #F28123;
    }

a.bordered-btn[b-7g4map14mv] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    a.bordered-btn:hover[b-7g4map14mv] {
        background-color: #F28123;
        color: #fff;
    }

.single-logo-item img[b-7g4map14mv] {
    max-width: 180px;
    margin: 0 auto;
}

.carousel-div[b-7g4map14mv] {
    font-family: 'Poppins', sans-serif;
    background-color: #435454;
    color: white;
    border-radius: 30px;
}

h2[b-7g4map14mv] {
    font-family: 'Poppins', sans-serif;
}
/*==============================================================================================*/
.card-sizing[b-7g4map14mv] {
    width: 200px;
    border: none;
}
.card-image[b-7g4map14mv] {
    border-radius: 135px 106px 134px 181px;
    -webkit-border-radius: 135px 106px 134px 181px;
    -moz-border-radius: 135px 106px 134px 181px;
    height: 200px;
}
a[b-7g4map14mv] {
    text-decoration: none;
}

.card-text-settings[b-7g4map14mv] {
    background-color: #687676;
    color: #fff;
    font-family: Brush Script MT, Brush Script Std, cursive;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 50px 30px;
}

.custom-btn[b-7g4map14mv] {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #435454;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #435454;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #435454;
}

    .custom-btn:hover[b-7g4map14mv] {
        color: white;
        box-shadow: inset 0 -100px 0 0 #435454;
    }

    .custom-btn:active[b-7g4map14mv] {
        transform: scale(0.9);
    }

.columns-el[b-7g4map14mv]{
    padding-left:100px;
}

.contact-us[b-7g4map14mv]{
    padding: 30px;
    border-radius: 30px;
    background-color: #435454;
    color: #fff;
}

.submit-btn[b-7g4map14mv] {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #435454;
}

.submit-btn:hover[b-7g4map14mv] {
    color: #435454;
    box-shadow: inset 0 -100px 0 0 #fff;
}

.submit-btn:active[b-7g4map14mv] {
    transform: scale(0.9);
}




