.single-product-item[b-cyjpsl0n28] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .single-product-item:hover[b-cyjpsl0n28] {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
.single-product-item[b-cyjpsl0n28] {
    margin-bottom: 30px;
}
    .single-product-item h3[b-cyjpsl0n28] {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

.single-product-item[b-cyjpsl0n28] {
    -webkit-box-shadow: 0 0 20px #e4e4e4;
    box-shadow: 0 0 20px #e4e4e4;
    padding-bottom: 50px;
    border-radius: 5px;
}
button.cart-btn[b-cyjpsl0n28] {
    border-radius: 50px;
    margin-bottom: 15px;
}

button.cart-btn[b-cyjpsl0n28] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    button.cart-btn:hover[b-cyjpsl0n28] {
        background-color: #051922;
        color: #F28123;
    }

button.cart-btn[b-cyjpsl0n28] {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border:none;
}

    button.cart-btn i[b-cyjpsl0n28] {
        margin-right: 5px;
    }

.product-image img[b-cyjpsl0n28] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .product-image img:hover[b-cyjpsl0n28] {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
.product-image[b-cyjpsl0n28] {
    padding: 30px;
    padding-bottom: 0;
}

    .product-image img[b-cyjpsl0n28] {
        width: 90%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

td.product-image img[b-cyjpsl0n28] {
    max-width: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}
.product-price[b-cyjpsl0n28]{
    font-size:large;
}

.blur-background[b-cyjpsl0n28] {
    position: relative;
    z-index: 1;
    font-size: 4rem;
    padding: 25px;
}

    .blur-background[b-cyjpsl0n28]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 10, 0.5);
        filter: blur(3px);
        -webkit-filter: blur(5px);
        z-index: -1;
        border-radius: 20px;
        border:solid;
    }
