a[b-xo1z7isbm6]{
color: #666770
}
nav[b-xo1z7isbm6]{
    -webkit-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);
    box-shadow: -1px 10px 39px 0px rgba(0,0,0,0.09);}

.navbar-toggler-icon[b-xo1z7isbm6]   {
    color: gold;
    background-color: #084298;
}

.logo-style[b-xo1z7isbm6]{
width: 30px;
height: 30px;}

.dark[b-xo1z7isbm6]{
color: black;}
